<ImageConfig width="192" height="128">

    <Resources>
        <Font family="title" file="pokemon_pixel_font.ttf"/>
        <Font family="pixelated" file="PocketPixelRegular.ttf"/>
        <Image name="graphics" file="graphics_complete.png"/>
        <Image name="gender_male" file="gender_male.png"/>
        <Image name="gender_female" file="gender_female.png"/>
        <Image name="gender_neutral" file="gender_neutral.png"/>

        <Image name="type1_icon" file="types10x10/{type1.name.en}.png"/>
        <Image name="type2_icon" file="types10x10/{type2.name.en}.png"/>
        <Image name="move1type_icon" file="types10x10/{move1.type.name.en}.png"/>
        <Image name="move2type_icon" file="types10x10/{move2.type.name.en}.png"/>
        <Image name="move3type_icon" file="types10x10/{move3.type.name.en}.png"/>
        <Image name="move4type_icon" file="types10x10/{move4.type.name.en}.png"/>
    </Resources>

    <Graphics>

        <!-- Background shadow -->
        <Rectangle area="2,2,190,126" radius="10" color="#00000080"/>

        <!-- Background -->
        <Rectangle area="1,1,190,126" radius="10">
            <Color>
                <Linear start="0,0" end="192,0">
                    <Stops>
                        <Stop position="0" solid="{type1.color}"/>
                        <Stop position="1" solid="{type2.color}"/>
                    </Stops>
                </Linear>
            </Color>
        </Rectangle>

        <!-- Graphics elements -->
        <Image area="0,0,192,128" name="graphics"/>

        <!-- Pokemon name (UPPERCASE) -->
        <Text area="44,5,106,15" color="#000000" anchor="MiddleCenter" font="{title}" string="{species.name.en:U}"/>

        <!-- Pokemon level -->
        <Text area="24,9,22,8" color="#FFFFFF" anchor="MiddleCenter" string="{level}">
            <Font family="pixelated" size="6" antialias="false"/>
        </Text>

        <!-- Pokemon type icons -->
        <Image area="7,7,10,10" name="type1_icon"/>
        <Image area="175,7,10,10" name="type2_icon" visible="{hasType2}"/>

        <!-- Pokemon sprite -->
        <Image area="1,22,68,56" name="species.sprite"/>

        <!--  Ball sprite -->
        <Image area="5,65,20,20" name="ball.sprite"/>

        <!-- Gender icons -->
        <Image area="153,5,13,13" name="gender_male" visible="{gender.isMale}"/>
        <Image area="153,5,13,13" name="gender_female" visible="{gender.isFemale}"/>
        <Image area="153,5,13,13" name="gender_neutral" visible="{gender.isNeutral}"/>

        <!-- Nature -->
        <Text area="20,89,60,10" ref="default_left" string="{nature.name.en}"/>

        <!-- Ability -->
        <Text area="20,101,60,10" ref="default_left" string="{ability.name.en}"/>

        <!-- Held Item -->
        <Text area="20,113,60,10" ref="default_left" string="{heldItem.name.en}"/>

        <!-- ___Moves___ -->

        <!-- Move 1 -->
        <Rectangle area="86,76,10,10" color="">
            <Color solid="{move1.type.color}"/>
        </Rectangle>
        <Image area="86,76,10,10" name="move1type_icon"/>
        <Text area="100,77,68,10" ref="default_left" string="{move1.name.en}"/>
        <Text area="170,77,16,10" ref="default_right" string="{move1.pp}"/>

        <!-- Move 2 -->
        <Rectangle area="86,88,10,10" visible="{hasMove2}">
            <Color solid="{move2.type.color}"/>
        </Rectangle>
        <Image area="86,88,10,10" name="move2type_icon" visible="{hasMove2}"/>
        <Text area="100,89,68,10" ref="default_left" string="{move2.name.en}" visible="{hasMove2}"/>
        <Text area="170,89,16,10" ref="default_right" string="{move2.pp}" visible="{hasMove2}">
        </Text>

        <!-- Move 3 -->
        <Rectangle area="86,100,10,10" visible="{hasMove3}">
            <Color solid="{move3.type.color}"/>
        </Rectangle>
        <Image area="86,100,10,10" name="move3type_icon" visible="{hasMove3}"/>
        <Text area="100,101,68,10" ref="default_left" string="{move3.name.en}" visible="{hasMove3}"/>
        <Text area="170,101,16,10" ref="default_right" string="{move3.pp}" visible="{hasMove3}"/>

        <!-- Move 4 -->
        <Rectangle area="86,112,10,10" visible="{hasMove4}">
            <Color solid="{move4.type.color}"/>
        </Rectangle>
        <Image area="86,112,10,10" name="move4type_icon" visible="{hasMove4}"/>
        <Text area="100,113,68,10" ref="default_left" string="{move4.name.en}" visible="{hasMove4}"/>
        <Text area="170,113,16,10" ref="default_right" string="{move3.pp}" visible="{hasMove4}"/>

        <!-- ___HP___ -->
        <Text area="80,32,16,8" ref="default_right" string="{stats.iv.hp}"/>
        <Text area="80,42,16,8" ref="default_right" string="{stats.ev.hp}"/>
        <Text area="80,54,16,8" ref="default_right" string="{stats.val.hp}"/>

        <!-- ___Atk___ -->
        <Text area="98,32,16,8" ref="default_right" string="{stats.iv.atk}"/>
        <Text area="98,42,16,8" ref="default_right" string="{stats.ev.atk}"/>
        <Text area="98,54,16,8" ref="default_right" string="{stats.val.atk}"/>

        <!-- ___Def___ -->
        <Text area="116,32,16,8" ref="default_right" string="{stats.iv.def}"/>
        <Text area="116,42,16,8" ref="default_right" string="{stats.ev.def}"/>
        <Text area="116,54,16,8" ref="default_right" string="{stats.val.def}"/>

        <!-- ___SpA___ -->
        <Text area="134,32,16,8" ref="default_right" string="{stats.iv.spa}"/>
        <Text area="134,42,16,8" ref="default_right" string="{stats.ev.spa}"/>
        <Text area="134,54,16,8" ref="default_right" string="{stats.val.spa}"/>

        <!-- ___SpD___ -->
        <Text area="152,32,16,8" ref="default_right" string="{stats.iv.spd}"/>
        <Text area="152,42,16,8" ref="default_right" string="{stats.ev.spd}"/>
        <Text area="152,54,16,8" ref="default_right" string="{stats.val.spd}"/>

        <!-- ___Spe___ -->
        <Text area="170,32,16,8" ref="default_right" string="{stats.iv.spe}"/>
        <Text area="170,42,16,8" ref="default_right" string="{stats.ev.spe}"/>
        <Text area="170,54,16,8" ref="default_right" string="{stats.val.spe}"/>

    </Graphics>

    <Variables>
        <Font id="default" family="pixelated" size="8"></Font>
        <Font id="title" family="title" size="12" antialias="false"></Font>

        <Text id="default_left" color="#000000" font="{default}" method="3"/>
        <Text id="default_right" color="#000000" font="{default}"  anchor="TopRight" method="3"/>
    </Variables>

</ImageConfig>
