<ImageConfig width="68" height="56">

    <Resources>
        <Image name="sprite">
            <File value="regular/{0}.png">
                <String ref="pokemonName"/>
            </File>
        </Image>
    </Resources>

    <Graphics>


        <Rectangle area="0,0,68,56" radius="10">
            <Color>
                <Linear start="0,0" end="68,0">
                    <Stops>
                        <Stop position="0">
                            <Solid ref="type1.color"/>
                        </Stop>
                        <Stop position="1">
                            <Solid ref="type2.color"/>
                        </Stop>
                    </Stops>
                </Linear>
            </Color>
        </Rectangle>


        <Image name="species.sprite">
            <Area>
                <X>0</X>
                <Y>0</Y>
                <Width ref="species.sprite.Width"/>
                <Height ref="species.sprite.Height"/>
            </Area>
        </Image>

    </Graphics>

    <Variables>
        <String id="pokemonName">Hypno</String>
    </Variables>

</ImageConfig>
